<ion-header>
    <ion-navbar color="primary">
        <ion-title class="ikon">
            <ion-icon style="font-size: 30px;" large name="ai-event"></ion-icon>
        </ion-title>
    </ion-navbar>
</ion-header>
<script src="lib/ionic-rating/ionic-rating.min.js"></script>
<ion-content padding class="back">
    <ion-card class='poster' color="dark">
        <img style="width:100%;height:100%;" src="https://nareeapp.com/{{foto_poster}}" />
    </ion-card>
    <ion-card color='primary' class="backcard">
        <p class='judul'>{{nama}} </p>
        <div class='bintang'>
            <!-- <ion-icon *ngFor="let n of bintang; " name="star"></ion-icon> -->
            <rating [(ngModel)]="rating" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star"
                nullable="false"></rating>
            <!-- <ion-icon *ngIf="n==2" name="star-half"></ion-icon>
            <ion-icon *ngIf="n==3" name="star-outline"></ion-icon> -->
        </div>
    </ion-card>
    <ion-card class="backcard-ket" padding>
        <ion-row>
            <ion-col col-1><ion-icon color='primary' name="calendar"></ion-icon></ion-col>
            <ion-col col-11><p>{{tanggal|date: 'EEEE, MMMM dd'}}</p></ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-1><ion-icon color='primary' name="pin"></ion-icon></ion-col>
            <ion-col col-11><p>{{location}}, {{province}}</p></ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-1><ion-icon color='primary' name="cash"></ion-icon></ion-col>
            <ion-col col-11><p *ngIf="bayar">{{tiket| currency:"Rp"}}</p><p *ngIf="free">Free</p></ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-1><ion-icon color='primary' name="people"></ion-icon></ion-col>
            <ion-col col-11><p>by {{org}}</p></ion-col>
        </ion-row>
    </ion-card>
    <ion-card class="backcard-ket">
        <p class="judul-about"> About</p>
        <p class="isi"> {{isi}}</p>
    </ion-card>
    <ion-card #map id="map" class="backcard-ket">
    </ion-card>
    <button *ngIf="showcheckin" ion-button style="text-transform: none;" color="primary" full large (click)="checkin() ">Registrasi Peserta</button>
    <button disabled *ngIf="showcancel" ion-button style="text-transform: none;" color="primary" full large (click)="checkin() ">Sudah Terdaftar</button>
</ion-content>