page-aboutus {
    .judul {
        size: 15px;
        color: #95171A;
        text-align: center;
        padding-inline-start: 10px;
        font-weight: bold;
        padding-block-start: 20px;
        padding-block-end: 20px;
    }
    .back {
        padding-block-start: 10px;
        // padding-block-end: 15px;
        margin-block-start: 10px;
        margin-block-end: 10px;
    }
    .back-kategori {
        padding-block-start: 10px;
        // padding-block-end: 15px;
        margin-block-start: 1px;
        margin-block-end: 10px;
    }
    .background {
        background-color: #e8e9ea;
    }
    .back-card {
        padding-block-start: 10px;
        // padding-block-end: 10px;
        margin-block-start: 1px;
        margin-block-end: 1px;
    }
    .posisi {
        text-align: justify;
    }
    .keterangan {
        text-align: center;
        padding-inline-start: 23px;
        padding-inline-end: 23px;
        color: black;
    }
    .moto {
        text-align: center;
        padding-inline-start: 25px;
        padding-inline-end: 25px;
        padding-block-start: 15px;
        padding-block-end: 15px;
        color: black;
    }
    .back-button-icon {
        font-size: 3.4rem;
    }
    .toolbar-md-primary .bar-button-clear-md,
    .toolbar-md-primary .bar-button-default-md,
    .toolbar-md-primary .bar-button-outline-md,
    .toolbar-md-primary .toolbar-title-md {
        color: #fff;
        padding-left: 0px;
        margin-left: 0px;
    }
}