page-tiket {
    .back {
        background-color: #e8e9ea;
    }
    .judul {
        font-size: 20px;
        color: white;
        text-align: center;
        font-weight: 500;
        padding-inline-start: 30px;
        padding-inline-end: 30px;
    }
    .judul1 {
        word-wrap: break-word;
        font-size: 16px;
        color: #95171A;
        text-align: initial;
        padding-block-start: 2px;
        font-weight: bold;
        margin-block-start: 0px;
        padding-block-end: 0px;
    }
    .lanjutkan {
        padding-top: 25px;
        padding-bottom: 25px;
        text-transform: none;
        font-size: 2rem;
        margin-bottom: 0px;
    }
    .tittle {
        color: #95171A;
        font-size: 1.6rem;
        font-weight: 700;
        padding-top: 5px;
        padding-bottom: 0px;
        height: 19px;
    }
    .poster-event {
        height: 100px;
        width: 100px;
        border-radius: 10px;
    }
    .isi {
        height: 19px;
    }
    img {
        width: 180px;
    }
    .item-md {
        padding-left: 16px;
    }
    .konteks {
        text-align: center;
        font-weight: bold;
        color: black;
        font-size: 1.4rem;
        line-height: 16px;
    }
    .harga {
        font-size: 2.2rem;
        font-weight: bold;
        line-height: 20px;
        text-align: center;
    }
    .back-card {
        padding-bottom: 0px;
    }
    .cancelCss,
    .waitingCss,
    .processCss,
    .confirmedCss {
        color: #fff;
        padding: 7px;
        font-weight: 500;
    }
    .cancelCss {
        background-color: orange;
    }
    .waitingCss {
        background-color: #95171a;
        width: 27vw;
    }
    .processCss {
        background-color: rgb(199, 199, 15);
        width: 39vw;
    }
    .confirmedCss {
        background-color: green;
        width: 39vw;
    }
    .toolbar-md-primary .bar-button-clear-md,
    .toolbar-md-primary .bar-button-default-md,
    .toolbar-md-primary .bar-button-outline-md,
    .toolbar-md-primary .toolbar-title-md {
        color: #fff;
        margin-left: 0px;
        padding-left: 0px;
    }
    .back-button-icon {
        font-size: 3.4rem;
    }
}