<ion-content>
    <img class="card" src="assets/imgs/logobkg-36.jpg" />

    <form padding *ngIf="findemail" #LoginForm="ngForm" novalidate>
        <ion-list>
            <p class="center">Please enter your email address to get the code to change your password</p>
            <ion-item>
                <ion-input type="email" placeholder="Email" name="emailuser" [(ngModel)]="emailuser"></ion-input>
            </ion-item>
            <p class="hiden">E.g. me@example.com</p>
        </ion-list>
        <div class="find">
            <button ion-button large round full style="text-transform: none;" (click)='forgot()'>Send Code</button>
            <div style="text-align: center">
                <button ion-button clear style="text-transform: none;font-weight: bold;" color="dark" (click)='backto()'>Back</button>
            </div>

        </div>
    </form>
    <form padding *ngIf="newPassword" #LoginForm="ngForm" novalidate>
        <ion-list>
            <p class="center">Please enter new password and the code to reset your password</p>
            <ion-item>
                <ion-input disabled type="email" placeholder="Email" name="emailuser" [(ngModel)]="emailuser"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="password"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="password" placeholder="Confirm password" name="repassword" [(ngModel)]="repassword"></ion-input>
            </ion-item>
            <ion-item style="padding-left: 0px;margin-left: 16px;">
                <ion-input type="code" placeholder="Enter Code" name="code" [(ngModel)]="code"></ion-input>
            </ion-item>
        </ion-list>
        <div class="save">
            <button ion-button large full round style="text-transform: none;" (click)='save()'>Save</button>
        </div>
        <div style="text-align: center">
            <button ion-button clear style="text-transform: none;font-weight: bold;" color="dark" (click)='pindah()'>Back</button>
        </div>
    </form>
</ion-content>