page-forgotpassword {
    .card {
        text-align: center;
        background: #95171A;
    }
    .hiden {
        padding-inline-start: 18px;
    }
    .center {
        text-align: center;
        font-size: 18px;
    }
}