page-home {
    .card {
        background-color: #ffffff;
    }
    .back {
        background-color: #e8e9ea;
    }
    .image-news {
        height: 130px;
        width: 140px;
        float: left;
        margin-right: 10px;
    }
    .gambar {
        padding: 0px !important;
        width: 190vw;
        height: 110px;
    }
    .judul {
        word-wrap: break-word;
        font-size: 18px;
        color: #95171A;
        text-align: initial;
        padding-block-start: 2px;
        font-weight: bold;
        margin-block-start: 0px;
    }
}