page-home {
    .back {
        background-color: #e8e9ea;
    }
    .image-news {
        height:100px;
        width: 100px;
    }
    .gambar {
        padding: 0px !important;
        width: 190vw;
        height: 110px;
    }
    .judul {
        size: 12px;
        color: #95171A;
        text-align: initial;
        padding-block-start: 10px;
        font-weight: bold;
    }
}