page-home {
    .card {
        background-color: #ffffff;
    }
    .back {
        background-color: #e8e9ea;
    }
    .image-news {
        height: 15vh;
        width: 15vh;
        float: left;
        margin-right: 10px;
    }
    .gambar {
        padding: 0px !important;
        width: 190vw;
        height: 110px;
    }
    .judul {
        word-wrap: break-word;
        font-size: 15px;
        color: #95171A;
        text-align: initial;
        padding-block-start: 2px;
        font-weight: bold;
        margin-block-start: 0px;
        padding-block-end: 0px;
        max-height: 56px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .slide-zoom {
        // height:200px;
        height: 100%;
        // overflow:hidden;
    }
    ion-slides {
        height: auto;
    }
    .logo {
        padding-block-start: 5px;
        padding-block-end: 0px;
        margin-block-end: 0px;
    }
    .swiper-pagination {
        padding: 3px;
        bottom: 0px;
        .swiper-pagination-bullet {
            background: #FFF;
            margin: 0 3px;
        }
    }
    .tanggal {
        font-weight: 500;
        font-size: 12px;
        color: black;
    }
}