page-tambahevent {
    .konten {
        padding: 20px;
        top: 55px;
        background: rgba(0, 0, 0, 0.5);
    }
    .ini {
        padding-block-start: 15%;
        border-radius: 20px;
    }
}