page-tambahevent {
    .konten {
        padding: 20px;
        top: 55px;
        background: rgba(0, 0, 0, 0.5);
    }
    .ini {
        padding-block-start: 15%;
        border-radius: 20px;
    }
    .link {
        text-align: center;
        bottom: 30%;
        z-index: 999;
    }
    ion-card {
        position: relative;
        text-align: center;
        background-color: transparent;
    }
    .card-title {
        position: absolute;
        top: 105vw;
        font-weight: bold;
        left: 10%;
        color: #fff;
        width: 80%;
    }
}