<!--
  Generated template for the DatapesertaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            <ion-row justify-content-center>
                <ion-col col-8>
                    Data Peserta
                </ion-col>
            </ion-row>
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content *ngIf="user" class="background" scroll="false">
    <div *ngFor="let dataCategory of tipe;let j = index">
        <ion-card *ngIf="dataCategory.max != '1'">
            <!-- <form class="form" [formGroup]="telFormGroup" (ngSubmit)="onSubmit(telFormGroup.value)"> -->
            <p class="cssCategory">Kategori {{dataCategory.kater}}</p>
            <ion-item>
                <h2 class="judul" item-start>Nama Tim</h2>
                <ion-input class="input" type="text" [required]="true" [(ngModel)]="nama_tim[j]" name="nama_ketua" placeholder="Nama Tim"></ion-input>
            </ion-item>
            <div *ngFor="let person of member[j];let i = index">
                <ion-item>
                    <h2 class="judul" item-start>Username Anggota {{member[j][i]}}</h2>
                    <ion-input *ngIf="member[j][i] == '1'" disabled="true" class="input" type="text" value={{user.username}}></ion-input>
                    <ion-input *ngIf="member[j][i] > '1'" class="input" type="text" [(ngModel)]="name_member[j][i]" placeholder="isi username"></ion-input>
                </ion-item>
            </div>
            <!-- </form> -->
        </ion-card>
        <ion-card *ngIf="dataCategory.max == '1'">
            <p class="cssCategory">Kategori {{dataCategory.kater}}</p>
            <ion-item>
                <h2 class="judul" item-start>Username Peserta</h2>
                <ion-input disabled="true" class="input" type="text" value={{user.username}}></ion-input>
            </ion-item>
        </ion-card>
    </div>


    <ion-card color="tittle" style="margin-bottom: 0px; text-align: center;">
        <p class="cssCategory" style="margin-bottom: 0px;">
            Kontak Pemesan
        </p>
    </ion-card>
    <ion-card class="back-card">
        <ion-item>
            <h2 class="judul2" item-start>No. Telepon</h2>
            <ion-input disabled="true" class="inputa" type="text" value={{user.no_hp}}></ion-input>
        </ion-item>
    </ion-card>
    <ion-card class="back-kategori">
        <ion-item>
            <h2 class="judul2" item-start>Email</h2>
            <ion-input disabled="true" class="inputa" type="text" value={{user.email}}></ion-input>
        </ion-item>
    </ion-card>
</ion-content>
<ion-footer>
    <button ion-button full class="lanjutkan" (click)='next()'>Lanjutkan</button>
</ion-footer>