page-reward {
    .back {
        background-color: #e8e9ea;
    }
    .seg {
        background-color: white;
    }
    .judul {
        size: 12px;
        color: #95171A;
        text-align: center;
        padding-block-start: 10px;
        font-weight: bold;
    }
    ion-card {
        position: relative;
        text-align: center;
    }
    .card-title {
        position: absolute;
        top: 34%;
        font-size: 1.5em;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }
    .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
    }
    .no {
        margin: 0px;
    }
    .batas {
        margin: 25px;
    }
    ion-icon {
        font-size: 30px; //Preferred size here
    }
    .ikon {
        margin-inline-start: 43%;
    }
}