page-reward {
    div img.popUpCssLevel {
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 10;
        padding-inline-start: 0px;
        left: 0%;
    }
    .z10 {
        z-index: 11;
        position: fixed;
        top: 80%;
        margin-inline-start: 10%;
        width: 80%;
        height: 45px;
        // text-transform: none;
    }
    .z11 {
        z-index: 11;
        position: fixed;
        top: 39%;
        left: 43%;
        // font-size: 45px;
        color: white;
        font-weight: bold;
        text-align: center;
        font-size: 3.5em;
        // width: 40%;
        // text-transform: none;
    }
    .card-title {
        position: absolute;
        top: 35%;
        font-size: 1.5em;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }
    .z12 {
        z-index: 11;
        position: fixed;
        top: 39%;
        left: 46%;
        font-size: 3.5em;
        color: white;
        font-weight: bold;
        text-align: center;
        // text-transform: none;
    }
    .back {
        background-color: #e8e9ea;
    }
    .seg {
        background-color: white;
    }
    .judul {
        size: 12px;
        color: #95171A;
        text-align: center;
        padding-block-start: 10px;
        font-weight: bold;
    }
    ion-card {
        position: relative;
        text-align: center;
    }
    .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
    }
    .no {
        margin: 0px;
    }
    .batas {
        margin: 25px;
    }
    ion-icon {
        font-size: 30px; //Preferred size here
    }
    .ikon {
        margin-inline-start: 43%;
    }
    .card-title {
        position: absolute;
        top: 34%;
        font-size: 1.8em;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }
    .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 80%;
        width: 100%;
        color: #fff;
    }
    .card-loading {
        position: absolute;
        top: 71%;
        width: 100%;
        left: 10%;
    }
}