<!-- close popup when level up -->
<ion-header *ngIf="showHeader">
    <ion-navbar color="primary">
        <ion-title class="ikon">
            <ion-icon name="ai-reward"></ion-icon>
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="back">
    <!-- popup when level up -->
    <div *ngIf="showPopup" class="center">
        <ion-card no-padding no-margin>

            <img class="popUpCssLevel" src="../assets/imgs/levelupBG.png">
            <button color="light" large block round class="z10" (click)="takeLevel()" ion-button><a ion-text color="primary">Continue</a></button>
            <p *ngIf="show2digit" style="text-align:center" class="z11">{{leveluser}}</p>
            <p *ngIf="show1digit" style="text-align:center" class="z12">{{leveluser}}</p>
        </ion-card>
    </div>
    <ng-progress></ng-progress>
    <div class="seg">
        <ion-segment [(ngModel)]="pet">
            <ion-segment-button value="level">
                Level Progress
            </ion-segment-button>
            <ion-segment-button value="check-in">
                Daily Check-In
            </ion-segment-button>
        </ion-segment>
    </div>
    <div [ngSwitch]="pet">
        <ion-list *ngSwitchCase="'check-in'">
            <ion-card>
                <img src="assets/imgs/daily.jpg" align-items: stretch />
                <h3 class="batas">Lakukan Daily Check-In setiap hari dan dapatkan Daily EXP Reward!</h3>

                <button *ngIf="checkin" class="checkin" ion-button block large (click)="openModal()">Check In</button>
                <button disabled *ngIf="checkout" class="checkin" ion-button block large (click)="openModal()">Check In</button>
            </ion-card>
        </ion-list>


        <ion-list *ngSwitchCase="'level'">
            <ion-card>
                <img src="assets/imgs/star.jpg" />
                <div class="card-title">{{leveluser}}</div>
                <progress-bar class="card-loading" [progress]="persentase"></progress-bar>
                <div class="card-subtitle"> exp {{expuser}} of {{MaxExp}} </div>
            </ion-card>
            <ion-card>
                <h2 class="judul">Exp History</h2>
                <!-- <ion-scroll style="width: 100%; height: 100%" scrollY="true"> -->
                <div class="lol">


                    <ion-item no-margin *ngFor="let history of riwayat">
                        <!-- <ion-scroll style="width: 100%; height: 100%" scrollY="true"> -->
                        <p item-start> {{history.updated_at|date: 'dd/mm/yy'}}</p>
                        <p> {{history.judul}} </p>
                        <p item-end> {{history.exp}}</p>
                        <!-- *ngFor="let history of riwayat" -->
                        <!-- </ion-scroll> -->
                    </ion-item>
                </div>
            </ion-card>
        </ion-list>
    </div>
</ion-content>