<!--
  Generated template for the EventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="primary">
        <ion-buttons left>
            <button ion-button icon-only (click)="doAlert()">
                <ion-icon name="md-add-circle"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title class="ikon">
            Event
        </ion-title>
        <ion-buttons right>
            <button ion-button icon-only (click)="ticketList()">
                <ion-icon name="md-archive"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<!-- <ion-header>
    <ion-navbar color="primary">
        <ion-buttons left>
            <button ion-button icon-only>
                <ion-icon name="chatboxes"></ion-icon>
              </button>
        </ion-buttons>
        <ion-title>Event</ion-title>
        <ion-buttons right>
            <button ion-button icon-only><ion-icon name="notifications"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>
</ion-header> -->


<ion-content class="back">

    <!-- <ion-row class="no-padding">
        <ion-col>
            <ion-item color="primary">
                <ion-label color="light">Select Category</ion-label>
                <ion-select [(ngModel)]="category" interface="popover">
                    <ion-option>Ballet</ion-option>
                    <ion-option>Breaking Battle</ion-option>
                    <ion-option>Cover Dance</ion-option>
                    <ion-option>Dance Workshop</ion-option>
                    <ion-option>Modern Dance</ion-option>
                    <ion-option>Open Style Battle</ion-option>
                    <ion-option>Zumba</ion-option>
                    <ion-option>Traditional Dance</ion-option>

                </ion-select>
            </ion-item>
            <ion-item color="primary">
                <ion-select [(ngModel)]="checkup" (ionChange)="logChosen()">
                    <ion-option *ngFor="let checkup of checkups()">{{checkup}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-col>

        <ion-col>
            <ion-item color="primary">
                <ion-label color="light">Select Area</ion-label>
                <ion-select [(ngModel)]="area" interface="popover">
                    <ion-option value="f">Aceh</ion-option>
                    <ion-option value="m">Bali</ion-option>
                    <ion-option>Banten</ion-option>
                    <ion-option>Bengkulu</ion-option>
                    <ion-option>Gorontalo</ion-option>
                    <ion-option>Jakarta</ion-option>
                    <ion-option>Jambi</ion-option>
                    <ion-option>Jawa Barat</ion-option>
                    <ion-option>Jawa Timur</ion-option>
                    <ion-option>Kalimantan Barat</ion-option>
                    <ion-option>Kalimantan Selatan</ion-option>
                    <ion-option>Kalimantan Tengah</ion-option>
                </ion-select>
            </ion-item>
        </ion-col>
    </ion-row> -->
    <h4 class="special-event"><b>Special Event</b></h4>
    <ion-card *ngIf="eventEnam" (click)="openModal(eventEnam)">
        <ion-grid>
            <ion-row>
                <ion-col col-4>
                    <img class="poster-event" src="https://nareeapp.com/{{eventEnam.poster}}" />
                </ion-col>
                <ion-col text-nowrap class="hiden">
                    <p text-wrap class="judul">{{eventEnam.name_event}}</p>
                    <!-- <button ion-button color="primary" small style="font-size:12px;">{{event.dance_type}}</button> -->
                    <div class="btn-event">{{eventEnam.dance_type}}</div>
                    <br><br>
                    <p class="tanggal">{{eventEnam.location}}, {{eventEnam.province}}</p>
                    <p class="tanggal">{{eventEnam.date_event| date: 'dd MMMM yyyy'}}</p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-card *ngIf="eventDelapan" (click)="openModal(eventDelapan)">
        <ion-grid>
            <ion-row>
                <ion-col col-4>
                    <img class="poster-event" src="https://nareeapp.com/{{eventDelapan.poster}}" />
                </ion-col>
                <ion-col text-nowrap class="hiden">
                    <p text-wrap class="judul">{{eventDelapan.name_event}}</p>
                    <!-- <button ion-button color="primary" small style="font-size:12px;">{{event.dance_type}}</button> -->
                    <div class="btn-event">{{eventDelapan.dance_type}}</div>
                    <br><br>
                    <p class="tanggal">{{eventDelapan.location}}, {{eventDelapan.province}}</p>
                    <p class="tanggal">{{eventDelapan.date_event| date: 'dd MMMM yyyy'}}</p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-card *ngIf="eventTujuh" (click)="openModal(eventTujuh)">
        <ion-grid>
            <ion-row>
                <ion-col col-4>
                    <img class="poster-event" src="https://nareeapp.com/{{eventTujuh.poster}}" />
                </ion-col>
                <ion-col text-nowrap class="hiden">
                    <p text-wrap class="judul">{{eventTujuh.name_event}}</p>
                    <!-- <button ion-button color="primary" small style="font-size:12px;">{{event.dance_type}}</button> -->
                    <div class="btn-event">{{eventTujuh.dance_type}}</div>
                    <br><br>
                    <p class="tanggal">{{eventTujuh.location}}, {{eventTujuh.province}}</p>
                    <p class="tanggal">{{eventTujuh.date_event| date: 'dd MMMM yyyy'}}</p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

    <h4 class="all-event">All Event</h4>
    <ion-card *ngFor="let event of events" (click)="openModal(event)">
        <ion-grid *ngIf="event != undefined">
            <ion-row>
                <ion-col col-4>
                    <img class="poster-event" src="https://nareeapp.com/{{event.poster}}" />
                </ion-col>
                <ion-col text-nowrap class="hiden">
                    <p text-wrap class="judul">{{event.name_event}}</p>
                    <!-- <button ion-button color="primary" small style="font-size:12px;">{{event.dance_type}}</button> -->
                    <div class="btn-event">{{event.dance_type}}</div>
                    <br><br>
                    <p class="tanggal">{{event.location}}, {{event.province}}</p>
                    <p class="tanggal">{{event.date_event| date: 'dd MMMM yyyy'}}</p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <h4 *ngIf="loadEvent >= totalEvent">Enjoy the event!</h4>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="loadEvent < totalEvent">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more events...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
</ion-content>