<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            <ion-row justify-content-center>
                <ion-col col-10>
                    Konfirmasi Pendaftaran
                </ion-col>
            </ion-row>
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content *ngIf="shadowPayment" class="back">
    <ion-card padding color="tittle">
        <p class="judul">{{shadowPayment.name_event}}</p>
    </ion-card>
    <ion-card padding style="padding-top:0px; ">
        <p class="tittle"> Tipe Tiket</p>

        <div *ngFor="let a of shadowPayment.tipe;">
            <p class="isi">{{a.tipe}} - {{a.kater}}</p>
        </div>
        <p class="tittle">Total Harga</p>
        <p class="isi">Rp {{shadowPayment.totalBiaya}},-</p>
    </ion-card>
    <ion-card padding style="padding-top:0px; ">
        <p class="tittle">Data Informasi</p>
        <ion-row>
            <ion-col col-5>No. Telepon</ion-col>
            <ion-col col-7>{{shadowPayment.no_hp}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-5>Email</ion-col>
            <ion-col col-7>{{shadowPayment.email}}</ion-col>
        </ion-row>
        <!-- <p class="isi">No. Telepon {{shadowPayment.no_hp}}</p>
        <p class="isi">Email
            <span> {{shadowPayment.email}}</span>
        </p> -->
        <div *ngFor="let b of shadowPayment.tipe; let j = index">
            <div>
                <p class="tittle">Data Peserta {{b.kater}}</p>
                <ion-row *ngIf="b.max != '1'">
                    <ion-col col-5>Nama Tim</ion-col>
                    <ion-col col-7>{{shadowPayment.team[j]}}</ion-col>
                </ion-row>
                <div *ngFor="let members of  shadowPayment.name_member.username[j]; let i = index">
                    <ion-row *ngIf="b.max != '1'">
                        <ion-col col-5 *ngIf="[i] == '0'">Anggota 1</ion-col>
                        <ion-col col-5 *ngIf="[i] > '0'&& members != null  && members != ''  ">Anggota {{i+1}}</ion-col>
                        <ion-col col-7 *ngIf="[i] == '0'">{{shadowPayment.username}}</ion-col>
                        <ion-col col-7 *ngIf="[i] >  '0'&& members != null && members != '' ">{{members}}</ion-col>
                    </ion-row>
                    <ion-row *ngIf="b.max == '1' && [i] == '0'">
                        <ion-col col-5>Username</ion-col>
                        <ion-col col-7>{{shadowPayment.username}}</ion-col>
                    </ion-row>
                </div>
            </div>
        </div>
    </ion-card>
    <ion-card padding color="primary" style="padding: 11px 11px 11px 11px;">
        <p class="note">
            Pastikan data yang tertera sudah benar. Anda tidak bisa mengubah detail pesanan setelah konfirmasi.
        </p>
    </ion-card>
    <button ion-button full class="lanjutkan" (click)="confirmRegistration()">konfirmasi</button>

</ion-content>