page-checkin-event {
    .back {
        background-color: #e8e9ea;
    }
    .posisi {
        margin-block-start: 135%;
        position: fixed;
        height: 100%;
    }
    .kartu {
        height: 50%;
    }
    .keterangan {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        padding-inline-start: 23px;
        padding-inline-end: 23px;
        padding-block-end: 20px;
        padding-block-start: 20px;
    }
    ion-card {
        margin: 0px;
        padding: 0px;
        width: 100%;
    }
    .button {
        left: 10%;
        width: 80%;
        height: 7vh;
    }
    .foto {
        height: 67vh;
        width: 100%;
    }
}