page-leaderboard {
  .number {
    position: absolute;
    right: 0;
    top: 0;
    padding: 3px;
    font-weight: bold;
    font-size: 12px;
    background-color: #000;
    color: #fff;
  }
  .first,
  .second,
  .third {
    background-color: $nareeMain;
  }
  .first {
    font-size: 20px;
  }
  .second {
    font-size: 16px;
  }
  .third {
    font-size: 12px;
  }
  .periode {
    background-color: $nareeMain;
    text-align: center;
    color: #fff;
    padding: 4px;
  }
}
