    page-profile {
        .back {
            background-color: #e8e9ea;
        }
        .kartu {
            height: 50px;
            width: 165px;
            margin-inline-end: 0px;
            margin-inline-start: 0px;
            margin-block-start: 0px;
        }
        // ion-avatar img {
        //     width: 100% !important;
        //     height: 100% !important;
        //     max-width: 100px !important; //any size
        //     max-height: 100px !important; //any size
        // }
        .foto {
            // padding-block-start: 30px;
            border-radius: 100%;
            margin-inline-start: 31%;
            margin-block-end: 20px;
        }
        .fotoi {
            margin-block-end: 0px;
            height: 216.625px;
            width: auto;
        }
        .judul {
            size: 12px;
            color: #95171A;
            text-align: center;
            font-weight: bold;
        }
        .judul1 {
            size: 12px;
            color: #95171A;
            text-align: center;
            padding-inline-start: 10px;
            font-weight: bold;
        }
        .judul-card {
            size: 12px;
            color: #95171A;
            text-align: center;
            padding-inline-start: 10px;
            font-weight: bold;
            padding-block-start: 10px;
            padding-block-end: 10px;
        }
        .about {
            text-align: center;
            margin-block-start: 0px;
            // margin: 10px;
        }
        .about-p {
            padding: 18px;
            padding-block-start: 0.25px;
            padding-block-end: 0.25px;
        }
        .ikon {
            margin-inline-start: 48%;
        }
        ion-icon {
            font-size: 30px; //Preferred size her
        }
        .card-title {
            position: absolute;
            top: 80%;
            font-size: 1.5em;
            width: 100%;
            font-weight: bold;
            color: #fff;
            text-align: center;
        }
        .dp {
            width: 50%;
            top: 20%;
        }
        ion-card {
            position: relative;
        }
    }