    page-profile {
        .back {
            background-color: #e8e9ea;
        }
        .kartu {
            height: 50px;
            width: 45vw;
            margin-inline-end: 0px;
            margin-inline-start: 0px;
            margin-block-start: 0px;
        }
        // ion-avatar img {
        //     width: 100% !important;
        //     height: 100% !important;
        //     max-width: 100px !important; //any size
        //     max-height: 100px !important; //any size
        // }
        .foto {
            // padding-block-start: 30px;
            border-radius: 100%;
            margin-inline-start: 31%;
            margin-block-end: 20px;
        }
        .fotoi {
            margin-block-end: 0px;
            height: 216.625px;
            width: auto;
        }
        .judul {
            font-size: 1.8rem;
            color: #95171A;
            text-align: center;
            font-weight: bold;
        }
        .judul1 {
            font-size: 1.5rem;
            color: #95171A;
            text-align: center;
            padding-inline-start: 10px;
            font-weight: bold;
            padding-left: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .judul-card {
            size: 12px;
            color: #95171A;
            text-align: center;
            padding-inline-start: 10px;
            font-weight: bold;
            padding-block-start: 10px;
            padding-block-end: 10px;
            padding-left: 0px;
        }
        .about {
            text-align: center;
            margin-block-start: 0px;
            // margin: 10px;
        }
        .about-p {
            padding: 18px;
            padding-block-start: 0.25px;
            padding-block-end: 0.25px;
        }
        .ikon {
            margin-inline-start: 43%;
        }
        ion-icon {
            font-size: 30px; //Preferred size her
        }
        .card-title {
            position: absolute;
            top: 77%;
            font-size: 1.6em;
            width: 100%;
            font-weight: 500;
            color: #fff;
            text-align: center;
        }
        .dp {
            width: 50%;
            top: 20%;
        }
        ion-card {
            position: relative;
        }
        .bagi2 {
            margin: 0;
            width: 45vw;
        }
        .item-md [item-left],
        .item-md [item-right],
        .item-md [item-start],
        .item-md [item-end] {
            margin: 0px 8px 0px 0;
            color: black;
            font-weight: bold;
        }
        .label-md {
            margin: 0px 0px 0px 0;
            color: black;
            font-weight: 500;
        }
        .item-block {
            min-height: 2.1rem;
        }
        .juara {
            padding-block-end: 5px;
            text-transform: uppercase;
            padding-inline-start: 10px;
        }
        .deskripsi {
            color: black;
            font-weight: 500;
            margin-bottom: 0px;
            padding-block-end: 5px;
            padding-inline-start: 10px;
        }
        .profile {
            position: relative;
            overflow: hidden;
            height: 24vh;
            margin-bottom: -0.625em;
            img {
                width: 30vw;
                height: 30vw;
                border-radius: 100%;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                object-fit: cover;
                margin-top: 0px;
            }
            img.activated {
                opacity: 0.5;
            }
        }
    }