<ion-header>
    <ion-navbar color="primary">
        <ion-title class="ikon">
            Profile
            <!-- <ion-icon name="ai-profile"></ion-icon> -->
        </ion-title>
        <ion-buttons end>
            <button ion-button large icon-only (click)="gotoNextPage()">
                <ion-icon name='md-more'></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="back">
    <ion-card color="primary" style="    margin-bottom: 0px;">
        <ion-item class="fotoi" color="primary">
            <div class="profile">
                <!-- <img *ngIf="image == 'https://nareeapp.com/images/photoprofile/default.png'" required class="foto" style="width: 130px; height: 130px;" src="assets/imgs/default.png" tappable (click)="uploadPicture()" />
                    <img *ngIf="image != 'https://nareeapp.com/images/photoprofile/default.png'" required class="foto" style="width: 130px; height: 130px;" src="{{image}}" tappable (click)="uploadPicture()" /> -->

                <img *ngIf="image == 'https://nareeapp.com/images/photoprofile/default.png'" required src="assets/imgs/default.png" tappable (click)="uploadPicture()" />
                <img *ngIf="image != 'https://nareeapp.com/images/photoprofile/default.png'" required src="{{image}}" tappable (click)="uploadPicture()" />
            </div>
            <!-- <ion-avatar item-start (click)="uploadPicture()"> -->

            <!-- </ion-avatar> -->
        </ion-item>
        <div class="card-title">{{profiles.username}}</div>
    </ion-card>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card class="bagi2">
                    <ion-item no-padding class="kartu">
                        <ion-img item-start width="53" height="50" src="assets/imgs/level.jpg"></ion-img>
                        <!-- <h2 class="judul1"> Level {{profiles.level}} </h2> -->
                        <h2 class="judul1"> Coming Soon </h2>

                    </ion-item>
                </ion-card>
            </ion-col>

            <ion-col>
                <ion-card class="bagi2">
                    <ion-item no-padding ion-item class="kartu">
                        <ion-img item-start width="53" height="50" src="assets/imgs/breaking.jpg"></ion-img>
                        <h2 class="judul">{{profiles.dance_type}} </h2>
                    </ion-item>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-card class="about">
        <h2 class="judul-card"> About Me </h2>
        <!-- <p class="about-p"> Hello! Im </p>
        <p class="about-p"> im a breakdancer form Padang, Indonesia</p>
        <p class="about-p"> I havce jsadaskdaskdak </p> -->
        <p class="about-p"> {{profiles.about_me}}</p>

    </ion-card>
    <ion-card>
        <h2 class="judul-card"> Achievement </h2>
        <ion-item *ngIf="nullpage">
            <p item-start> tanggal</p>
            <p>Achievement history </p>
            <p item-end> exp</p>
        </ion-item>
        <div *ngIf="showpage">
            <ion-item *ngFor="let x of achiev">
                <!-- <p item-start> {{x.updated_at|date: 'dd/MM/yy'}}</p> -->
                <p class="juara" item-start>{{x.title}} </p>
                <p class="deskripsi"> {{x.year}}</p>
                <!-- <p item-end> {{x.exp}}</p> -->
            </ion-item>
        </div>
    </ion-card>
    <!--<ion-grid>
        <ion-row>
            <ion-col>
                <ion-item>
                    <img item-start src="assets/imgs/level.jpg" />
                    <p item-end>lwasdasdlwlwlwl</p>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    Right Icon Button
                    <button ion-button item-end outline icon-end>
                    Right Icon
                    <ion-icon name='star'></ion-icon>
                     </button>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>-->
</ion-content>