<ion-content>
    <img class="card" src="assets/imgs/logobkg-36.jpg" />
    <form class='formi' #LoginForm="ngForm" novalidate>
        <ion-list no-margin no-padding>
            <ion-item style="padding-left: 0px;">
                <ion-icon color='primary' style="margin-inline-end: 0px;padding-inline-end: 0px;" item-left name="ios-person-outline"> </ion-icon>
                <ion-input style="margin-left: 0px;;padding-inline-start: 0px;" type="email" placeholder="Email" name="email" [(ngModel)]="user.email"></ion-input>
            </ion-item>
        </ion-list>
        <!--<style>
                .hide {
                    display: none;
                }
            </style>-->
        <ion-list no-margin no-padding>
            <ion-item no-margin style="padding-left: 0px;">
                <ion-icon color='primary' item-left name="ios-lock-outline"> </ion-icon>
                <ion-input type="text" *ngIf="showPasswordText" name="password" [(ngModel)]="user.password" placeholder="Password"></ion-input>
                <ion-input type="password" *ngIf="!showPasswordText" name="password" [(ngModel)]="user.password" placeholder="Password"></ion-input>
                <button style="text-transform: none; color: gray;margin-right: 0px;padding-right: 0px;" ion-button clear type="button" item-right (click)="showPasswordText = !showPasswordText"> 
                        Unhide
              </button>
            </ion-item>
            <!-- <ion-input type="password" name="password" [(ngModel)]="user.password" placeholder="Password"></ion-input> -->
        </ion-list>
        <p class="forgot" style="text-align: right; padding-block-start: 0px;margin-block-start: 0px;">
            <button ion-button item-end clear style="text-transform: none; font-weight: bold;    padding-right: 0px;" color="dark" (click)="forgotpassword()">Forgot password?</button>
        </p>
    </form>


    <div class="sign">
        <button ion-button large block round style="text-transform: none;" (click)='onLogin(LoginForm)'>Sign In</button>
    </div>
    <div style="text-align: center;padding-block-start: 0px;margin-block-start: 0px;">
        Don`t have an account ? <a style="font-weight: bold;" (click)="signup()">Sign Up </a>
        <!-- <button ion-button no-padding no-margin clear style="text-transform: none;" color="dark" (click)="signup()">Sign up</button> -->
    </div>

</ion-content>