<!--
  Generated template for the InvoicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="primary" hideBackButton>
        <ion-buttons left>
            <button ion-button icon-only (click)="dismiss()">
                        <ion-icon name="md-close"></ion-icon>
                    </button>
        </ion-buttons>
        <ion-title>
            <ion-row justify-content-center>
                <ion-col col-7>
                    Invoice E-Ticket
                </ion-col>
            </ion-row>
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content *ngIf="input" class="back">
    <ion-card padding color="tittle">
        <p class="judul"> {{name_event}} </p>
    </ion-card>
    <ion-card padding>
        <p class="tittle" style="padding-top: 0px;"> Registration Code</p>
        <p class="konteks">{{input.invoice}}</p>
        <p class="tittle">Total Harga</p>
        <p class="konteks">{{input.total_price| currency:"Rp"}}</p>
        <p class="tittle">Status</p>
        <button style="text-transform: none;" ion-button small color="primary" *ngIf="input.status == 'waiting'">Belum Bayar</button>
        <button style="text-transform: none;" ion-button small color="primary" *ngIf="input.status == 'process'">Sedang Diverifikasi</button>
        <button style="text-transform: none;" ion-button small color="primary" *ngIf="input.status == 'confirmed'">Registrasi Berhasil</button>
        <p class="tittle"> Tipe Tiket</p>
        <div *ngFor="let a of detail.kategori;">
            <p class="isi">{{a.tipe}} - {{a.kater}}</p>
        </div>
        <!-- <p class="isi"> Early Bird - 1vs1 Openstrle Battle</p> -->
        <p class="tittle">Data Informasi</p>
        <p class="isi">No. Telepon {{currentUser.no_hp}}</p>
        <p class="isi">Email <span>{{currentUser.email}}</span></p>
        <div *ngFor="let b of detail.kategori; let j = index">
            <div>
                <p class="tittle">Data Peserta {{b.kater}}</p>
                <ion-row *ngIf="b.max != '1'">
                    <ion-col col-5>Nama Tim</ion-col>
                    <ion-col col-7>{{detail.team[j]}}</ion-col>
                </ion-row>
                <div *ngFor="let members of  detail.member.username[j]; let i = index">
                    <ion-row *ngIf="b.max != '1'">
                        <ion-col col-5 *ngIf="[i] == '0'">Anggota 1</ion-col>
                        <ion-col col-5 *ngIf="[i] > '0'&& members != null  && members != ''  ">Anggota {{i+1}}</ion-col>
                        <ion-col col-7 *ngIf="[i] == '0'">{{currentUser.username}}</ion-col>
                        <ion-col col-7 *ngIf="[i] >  '0'&& members != null && members != '' ">{{members}}</ion-col>
                    </ion-row>
                    <ion-row *ngIf="b.max == '1' && [i] == '0'">
                        <ion-col col-5>Username</ion-col>
                        <ion-col col-7>{{currentUser.username}}</ion-col>
                    </ion-row>
                </div>
            </div>
        </div>
        <!-- <p class="tittle"> Data Peserta 2vs2 Bboy Battle U21</p>
        <p class="isi">Nama Tim <span>Tim Horee</span></p>
        <p class="isi">Username 1 <span>dennyspooki</span></p>
        <p class="isi">Username 2 <span>dennyfadhli</span></p>
        <p class="tittle">Data Peserta 1vs1 Openstyle Battle</p>
        <p class="isi">Username <span>dennyspooki</span></p> -->
    </ion-card>
    <button *ngIf="enable" full class="lanjutkan" (click)='next()'>Bayar Tiket</button>
    <button ion-button full class="lanjutkan" (click)='cancel()'>Batalkan Pendaftaran</button>
    <button *ngIf="!enable" disabled ion-button full class="lanjutkan" (click)='next()'>Bayar Tiket</button>
    <button disabled ion-button full class="lanjutkan" (click)='cancel()'>Batalkan Pendaftaran</button>
</ion-content>