page-news {
    .ikon {
        margin-inline-start: 20%;
        width: 120px;
        padding-block-start: 10px;
    }
    .back {
        background-color: #e8e9ea;
    }
    .gambar {
        // padding: 0px !important;
        width: 95%;
        height: width;
        padding-block-end: 0px;
        margin-block-end: 0px;
    }
    .text {
        padding-block-start: 0px;
        width: 95%;
        // height: 100%;
        margin-block-start: 0px;
    }
    .judul {
        color: #95171A;
        text-align: initial;
        padding-block-start: 15px;
        padding-inline-start: 20px;
        padding-block-end: 0px;
        font-weight: bold;
    }
    .tanggal {
        padding-inline-start: 20px;
        font-style: bold;
        padding-block-start: 0px;
        padding-block-end: 5px;
    }
    .detail {
        padding: 20px;
        padding-block-start: 5px;
        font-size: 1.5rem;
        white-space: pre-line !important;
    }
    .back-button-icon {
        font-size: 3.2rem;
    }
    .toolbar-md-primary .bar-button-clear-md,
    .toolbar-md-primary .bar-button-default-md,
    .toolbar-md-primary .bar-button-outline-md,
    .toolbar-md-primary .toolbar-title-md {
        color: #fff;
        margin-left: 0px;
        padding-left: 0px;
    }
    .logo {
        padding-block-start: 5px;
        padding-block-end: 0px;
        margin-block-end: 0px;
    }
}